

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
.main-footer {
  text-align: center;
  color: black;
  overflow: hidden;
  position: fixed;
  margin: 0;
  bottom: 0;
  width: 100%;  
  flex-shrink: 0;
  background-color: white;
  height: 70px;
}
body {
  margin-bottom: 100px;
}
